.pop-up__text-input {
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 13px;
}

.pop-up__text-input:focus {
  outline: 0;
}
